



<% if session.fetch(:user_id) != nil %>

<h3>
  Make today great, <%= @user.name %>!
</h3>
<br>
<table border=1 class="table table-striped" >
  <tr>
    <th>
      Goal
    </th>
    <th>
      Times
    </th>
    <th>
      Record your progress
    </th>
    <th>
      Due Date
    </th>
    <th>
      Status
    </th>
    <th>
      Public?
    </th>
    <th>
    </th>
  </tr>
  <% @list_of_user_goals.each do |a_goal| %>
  <tr>
    <td>
      <%= a_goal.description %>
    </td>
    <td>
      <%= a_goal.completed.to_s + " of " + a_goal.target_number.to_s + " completed"%>
    </td>
    <td>
    <% if a_goal.status == 0 %>
      <form action="/goals/record_goal">
        <label for="browser_record_goal"></label>
        <input id="browser_record_goal" type="hidden" name="input_record_goal" value=<%= a_goal.id%>>
        <button class="btn btn-success">Did it!</button>
      </form>
    <% end %>
    </td>
    <td>
      <% if a_goal.due_date != nil %>
        <%= a_goal.due_date.strftime("%m-%d-%Y") %>
      <% end %>
    </td>
    <td>
      <% if a_goal.status == 1 %>
        Complete!
      <% elsif a_goal.due_date == nil %>
        In Progress      
      <% elsif a_goal.due_date < Date.today %>
        Past Due!
      <% else %>
        In Progress
      <% end %>
    </td>
    <td>
      <% if a_goal.public == 1%>
        Yes
      <% else %>
        No
      <% end %>
    </td>
    <td>
      <a href="/goals/<%= a_goal.id %>">
        Go to Goal
      </a>
    </td>
  </tr>
  <% end %>
</table>
<br>

<a href="/goals/new_goal">Create a new goal!</a>
<% end %>
<br><br><br>
<h3>
  Public Goals
</h3>
<table border=1 class="table table-striped" >
  <tr>
    <th>
      Go-Getter
    </th>
    <th>
      Goal
    </th>
    <th>
      Times
    </th>
    <th>
      Due Date
    </th>
    <th>
      Status
    </th>
    <th>
    </th>
  </tr>
  <% @nonuser_goals.each do |a_goal| %>
  <tr>
    <td>
      <%= a_goal.owner %>
    </td>
    <td>
      <%= a_goal.description %>
    </td>
    <td>
      <%= a_goal.target_number %>
    </td>
    <td>
      <% if a_goal.due_date != nil %>
        <%= a_goal.due_date.strftime("%m-%d-%Y") %>
      <% end %>
    </td>
    <td>
      Status
    </td>
    <td>
      <a href="/goals/<%= a_goal.id %>">
        Check it out!
      </a>
    </td>
  </tr>
  <% end %>
</table>
<br>
<a href="/users">
  See Everyone
</a>