<h1> Goal Details </h1>


<table border="1">
  <tr>
    <td>
      Goal Setter
    </td>
    <td>
      <%= @the_owner %>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      Goal
    </td>
    <td>
      <%= @the_goal.description %>
    </td>
    <td>
      <form action="/update_goal_description/<%= @the_goal.id %>">
        <input id="browser_description" type="text" name="input_update" >
        <button class="btn btn-primary">Edit</button>
      </form>
    </td>
  </tr>
  <tr>
    <td>
      Times to Complete
    </td>
    <td>
      <%= @the_goal.target_number %>
    </td>
    <td>
      <form action="/update_goal_target_number/<%= @the_goal.id %>">
        <input id="browser_target_number" type="number" name="input_update" >
        <button class="btn btn-primary">Edit</button>
      </form>
    </td>
  </tr>
  <tr>
    <td>
      Times Already Completed
    </td>
    <td>
      <%= @the_goal.completed %>
    </td>
    <td>
      <form action="/update_goal_completed/<%= @the_goal.id %>">
        <input id="browser_completed" type="number" name="input_update" >
        <button class="btn btn-primary">Edit</button>
      </form>
    </td>
  </tr>
  <tr>
    <td>
      Due Date
    </td>
    <td>
      <%= @the_goal.due_date %>
    </td>
    <td>
      <form action="/update_goal_due_date/<%= @the_goal.id %>">
        <input id="browser_due_date" type="date" name="input_update" placeholder="mm/dd/yyyy">
        <button class="btn btn-primary">Edit</button>
      </form>
    </td>
  </tr>
  <tr>
    <td>
      Public?
    </td>
    <td>
      <% if @the_goal.public == 1 %>
        Yes
      <% else %>
        No
      <% end %>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      Goal Status
    </td>
   <td>
      <% if @the_goal.status == 1 %>
        Complete
      <% elsif @the_goal.due_date == nil %>
        In Progress  
      <% elsif @the_goal.due_date < Date.today %>
        Past Due!
      <% else %>
        In Progress
      <% end %>
    </td>
    <td>
    </td>
  </tr>
</table>
<% if session.fetch(:user_id) == @the_goal.user_id %>
  <br>
  <a href="/edit_goal/<%= @the_goal.id%>">Edit this goal</a>
  <br>
  <a href="/delete_goal/<%= @the_goal.id%>">Delete this goal</a>
  <br>
<% end %>

<br>
<a href="/goals">See your goals</a>
<br>
<a href="/goals/new_goal">Make a new goal!</a>